@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$ubuntu-font: 'Ubuntu', sans-serif;

$bg: rgb(255, 255, 255);
$bg2: rgb(0,0,0);
$text: rgb(15,15,15);
$text2: rgb(240,240,240);
$primary: rgb(118, 105, 255);

